.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

.borda {
    border: 1px solid black; 
}

.alinhamento {
    padding: 1rem;
    margin: 10px; 
}

.espaçobetween {
    justify-content: space-between;
}
.espaçoentre {
    justify-content: space-around;
}

.espaçoigual {
    justify-content: space-evenly;
}

.centro {
    position: absolute;
    right: 50%;
}

.foto {
    min-height: 10%;
    min-width: auto;
}

.pesquisa {
    border: 1px solid black;
    height: 50px;
    width: 500px;
}

.foto_principal {
    min-width: 80%;
    min-height: auto;
}

.linhazinha {
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.itemP {
    height: 30px;
    width: 30px;
    background-color: gray;
    margin: 10px;
}

.itemPP {
    height: 15px;
    width: 15px;
    background-color: gray;
    margin: 10px;
}

.espaçofinal {
    justify-content: flex-end;
}

.centralizarsec {
    align-items: center;
}

.centralizar {
    justify-content: center;
}

.bordaigual {
    border: 1px solid black; 
    min-height: 10%;
    min-width: 20%;
}

.itemM {
    height: 100px;
    width: 100px;
    background-color: gray;
    margin: 10px;
}
